@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --bg-mobile-start: hsl(0, 0%, 100%);
  --bg-mobile-end: hsl(0, 100%, 98%);
  --main-font: 'Josefin Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  max-width: 100%;
  color: var(--dark-grayish-red);
  overflow-x: hidden;
  margin: 0 auto;
}

.main-wrap {
  display: grid;
  grid-template-rows: 85px 250px 465px;
  max-width: 375px;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3.85rem 2.0rem;
  width: 100%;
}

.main-content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem
}

.main-content__title--red {
  color: var(--desaturated-red);
  font-weight: 300;
}

.main-content__title--black, 
.main-content__title--red {
  letter-spacing: 0.75rem;
}

.main-content__description {
  font-weight: 700;
  color: var(--desaturated-red);
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
}

.main-content__cta {
  display: flex;
  width: 100%;
}

.cta__email-capture {
  width: 100%;
  border: 1px solid var(--dark-grayish-red);
  padding-left: 20px;
  background-color: var(--bg-mobile-end);
  outline: 0;
}

::-ms-input-placeholder {
  color: var(--dark-grayish-red);
  font-family: var(--main-font);
  font-size: 0.80rem;
  opacity: 0.35;
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: var(--dark-grayish-red);
  font-family: var(--main-font);
  font-size: 0.80rem;
  opacity: 0.35;
  font-weight: 700;
}

::placeholder {
  color: var(--dark-grayish-red);
  font-family: var(--main-font);
  font-size: 0.80rem;
  opacity: 0.35;
  font-weight: 700;
}

.cta__email-capture,
.cta__submit-btn {
  border-radius: 20px;
}

.cta__submit-btn {
  border: 0;
  padding: 10px 22px;
  margin-left: -50px;
  z-index: 9;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 3px 15px hsl(0, 74%, 74%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cta__submit-btn:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 98%),  hsl(0, 80%, 86%));
}

.warning-sign {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--soft-red);
  color: hsl(0, 100%, 98%);
  margin-left: -100px;
  margin-top: 8px;
  text-align: center;
  padding-top: 5px;
  box-shadow: 1px 1px 5px var(--dark-grayish-red);
  font-family: var(--main-font);
  font-weight: 700;
}

.validation-message {
  display: none;
  margin-top: -20px;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--soft-red);
}

.ml {
  margin-left: 20px;
}

.invalid {
  display: block;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: url('./images/bg-pattern-desktop.svg') no-repeat center center / cover;
  }

  .main-wrap {
    display: grid;
    grid-template-columns: 57.64% 42.36%;
    grid-template-rows: auto;
    max-width: 1800px;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
  }

  .main-content {
    grid-row: 2/2;
    grid-column: 1/2;
    padding: 30px 120px;
    max-width: 85%;
  }

  .main-content,
  .main-content__description,
  .main-content__title {
    align-items: flex-start;
  }

  .main-content__description {
    max-width: 90%;
    text-align: unset;
    font-size: 1.0rem;
  }

  .main-content__title {
    font-size: 3.8rem;
  }

  .banner {
    grid-row: 1/4;
    grid-column: 2/3;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('./images/hero-desktop.jpg') no-repeat center / cover;
    width: 100%;
    height: 100%;
  }

  .banner__img {
    display: none;
  }

  .header {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 30px 120px; 
  }

  .cta__submit-btn {
    padding: 15px 35px;
  }

  .cta__email-capture,
  .cta__submit-btn {
    border-radius: 25px;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 120px;
  }

  .warning-sign {
    margin-top: 12.5px;
  }

  .validation-message {
    padding-left: 30px;
  }
} 

